{% extends 'base.html' %}
{% block tab_title %}Flask Boggle{% endblock %}
<!-- {% block staticroute %}./{% endblock %} -->
{% block header %}Oh, it's on!{% endblock %}
{% block content %}
<div class="container fluid">
    <br>
    <div class="row justify-content-center">
        <div class="col col-md-8 col-lg-6">
            <table class="boggle-board">
                <thead class="text-center">
                    <tr>
                        <th colspan="5" class="boggle-board text-center">Game #{{ session['game_num']}}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in range(board_size) %}
                    <tr>
                    {% for col in range(5) %}
                        <td class="col text-center boggle-board" id="{{row}}-{{col}}">{{ board[row][col] }}</td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-6">
            <div class="row">
                <h3 class="timer">
                    <!-- JS puts remaining seconds in here -->
                </h3>
            </div>
            <div class="row">
                <form class="word-submit-form" method="POST">
                    <label for="word">enter a word: </label>
                    <input type="text" id="word" name="word" class="word-input border-rounded" autofocus>
                    <button class="bg-secondary text-light">submit</button>
                </form>
            </div>
            <div class="row">
                <p class="game-score">
                    <!-- JS will keep this tally running -->
                </p>
            </div>
            <div class="row">
                <p class="messages">
                    <!-- JS messages will appear here -->
                </p>
            </div>
        </div>
        <div class="col col-6">
            <table>
                <thead>
                    <th>words</th>
                    <th>score</th>
                </thead>
                <tbody class="scoring">
                    <!-- JS/jQuery will populate this score -->
                </tbody>
            </table>
            </ul>
        </div>
    </div>
</div>
{% endblock %}