{% extends 'base.html' %}
{% block tab_title %}Flask Boggle{% endblock %}
<!-- {% block staticroute %}./{% endblock %} -->
{% block header %}Let's Boggle it Up!{% endblock %}
{% block content %}
<div class="container">
  <div class="d-none">
    <h2>instructions:</h2>
    <p>Maybe I should write some instructions. Maybe I won't, though.</p>
  </div>
<form action="/question/0" method="POST">
    <h2><button class="btn btn-outline-primary rounded btn-block" name="play" value="True">Let's Play!</button></h2>
  </form>
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <div class="card-title">
          <form action="/reset">
            <button class="btn btn-block btn-danger text-warning">reset all Flask session data</button>
          </form>
        </div>
        <p class="m-2 card-text">this button is for development purposes
          <br>it will clear all of the flask session data
          <br>it is especially useful if you've taken both surveys and want to keep run-testing the app</p>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
</div>
</div>
{% endblock %}